################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/SeaBattle/.vs/Battleships/v16/Server/sqlite3
